@import "tailwindcss";

@theme{
    --font-plus: Plus Jakarta Sans, sans-serif;
    --color-primary : rgba(255, 66, 0, 1);
    --color-secondary : #FF9341;
    --color-paragraph : #5B5C6A;
    --shadow-gradient : 0px 8px 24px 0px rgba(255, 106, 32, 0.24);
    --shadow-card : 0px 6px 48px 0px rgba(87, 89, 102, 0.04);
    --shadow-form : 0px 8px 40px 0px rgba(23, 31, 70, 0.08);
    --shadow-grad-btn : 0px 8px 16px 0px rgba(255, 105, 31, 0.32);
    --shadow-dropdown : 0px 4px 40px 0px rgba(23, 31, 70, 0.16);
}
@layer base{
    body {@apply font-plus}
    button{ @apply cursor-pointer}
    input{@apply outline-none}
    input[type=file] {@apply relative font-medium ltr:pl-0 rtl:pr-0 text-sm cursor-pointer}
    input[type=file]::-webkit-file-upload-button {@apply text-center h-12 px-6 mr-6 border-r border-[#D9DBE9] cursor-pointer text-paragraph}

    .dropdown-group {@apply relative}
    .swiper-slide{@apply !w-fit}

    .db-table-responsive {@apply w-full overflow-auto border border-[#EFF0F6] rounded-3xl}
    .db-table {@apply table-auto w-full text-left whitespace-nowrap}
    .db-table.stripe .db-table-body-tr {@apply odd:!bg-[#f9fafb]}
    .db-table-head {@apply ltr:text-left rtl:text-right border-b border-gray-200}
    .db-table-body {@apply ltr:text-left rtl:text-right}
    .db-table-head-th {@apply p-6 pb-8 first:text-start first:align-bottom text-center leading-tight tracking-[1px] font-bold text-[26px]}
    .db-table-body-tr {@apply border-b border-gray-200 last:border-none}
    .db-table-body-td {@apply px-6 py-6 text-base font-medium}
    .db-table-body-td i {@apply !block text-center text-2xl}

    .modal {@apply fixed bg-black/60 inset-0 top-0 ltr:left-0 rtl:right-0 z-99 opacity-0 invisible flex justify-center transition-all duration-500}
    .modal-content {@apply max-w-2xl w-full mx-auto h-96 aspect-video rounded-2xl px-8 relative mt-10 scale-0 transition-all duration-500}
    .modal-close {@apply text-red-700 text-2xl absolute -top-3 ltr:right-3 rtl:left-3}
    .modal.active {@apply opacity-100 visible}
    .modal.active .modal-content{@apply scale-100}
}
@layer utilities{
    .container{ @apply max-w-[1118px] w-full mx-auto px-4}
    .active-btn {
        background:
            linear-gradient(#FFF4F0, #FFF4F0) padding-box,
            linear-gradient(to bottom right, rgba(255, 66, 0, 1), #FF9341) border-box;
        border: 1px solid transparent;
        border-radius: 50em;
        color: rgba(255, 66, 0, 1);
    }
}